# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.turbo/

# .NET
**/bin/
**/obj/
*.user

# env
.env
.env.local
.env.*.local

# editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*